html *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}
.img-background{
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    min-width: 40%;
    max-height: 100vh;
    background-size: 100% 100%;
    position: relative;
}
@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf) format("opentype");
}
.container{
    display: flex;
}
.credit{
    position: absolute;
    color: white;
    font-size: 12px;
    bottom: 10px;
    left: 15%;
}
.underline{
    text-decoration: underline;
}
.logosection{
    position: absolute;
    font-size: 6em;
    color: white;
    font-family: "Norse", "Helvetica", sans-serif;
    top: 150px;
    /* background-color: black;
    opacity: 1; */
    background: rgba(0,0,0,0.5);
    min-width: 40%;
    padding: 10px 0;
}
.logo{
    width: 100px;
}
.centeringlogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.odin{
    margin-top: 20px;
}
.header{
    background-color: #f9f9f9;
    height: 40vh;
    font-weight: bold;
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 130px 200px 0 50px;
    font-size: 20px;
}
.form{
    height: 30vh;
    box-shadow: 0 4px 2px -2px gray;
}
.foot{
    height: 30vh;
}
.header p + p{
    padding-top: 25px;
}
input, label{
    display: block;
    padding-top: 10px;
}
.form, .foot{
    padding-left: 50px;;
}
.formheader{
    display: block;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
input{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 200px;
    padding: 5px 0;
    text-indent: 10px;
}
label{
    letter-spacing: 1.5px;
    margin: 3px 0;
}
.formcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    font-size: 12px;
}

.fullname, .emailandnumber, .passwords{
    display: flex;
}
.firstandlast, .emailnum, .password{
    display: flex;
    flex-direction: column;
}
.last, .number, .confirmpassword{
    padding-left: 75px;
}

input[id="password"]:invalid, input[id="confirmpassword"]:invalid{
    border: none;
    outline: 1px solid red;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus{
    outline: 1px solid blue;
}
.passwordwarning{
    padding: 2px 0 0 0;
    color: red;
}
.createaccount{
    padding: 15px 50px;
    border-radius: 5px;
    color: white;
    background-color: #596D48;
    border: #596D48;
    margin-top: 30px;
}
.login{
    color: #596D48;
}
.loginmsg{
    margin-top: 25px;
}
input[type="password"]:valid + .passwordwarning{
    display: none;
}